<form method="post" {{action "login" on="submit"}}>
  {{input value=email type="text" class="email" placeholder="email"}}
  {{input value=password type="password" class="password" placeholder="password"}}
  {{input value="Login" type="submit"}}
</form>